<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>

    <section class="logo">
        <img src="Logo.png"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
    </section>

 <section class="login form">
    
    <h3>Log in</h3>

    <input type="email" class="email"/>
    <label class="form-label" for="password">Email address</label>
        
  
    <section class="form-outline ">
        <input type="password" id="form2Example28" class="form-control form-control-lg" />
        <label class="form-label" for="form2Example28">Password</label>
    </section>
          
    <section>
         <button class="login-button" type="button">Login</button>
    </section>
 </section>
</body>
</html>