<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/style.css">
   <title>Buy/Sell</title>
</head>
 
   <input type="text" id="isbn" placeholder="Search isbn">
   <button id="isbn-search">Search</button>
 
<header>
Book
</header>
 
<body>
  
{{{body}}}
 
<div class="slideshow-container">
 
   <!-- Full-width images with number and caption text -->
   <div class="mySlides fade">
     <div class="numbertext"></div>
     <img src="/images/bioethics.png" style="width:100%">
     <div class="text"></div>
   </div>
    <div class="mySlides fade">
     <div class="numbertext"></div>
     <img src="/images/algebra.png" style="width:100%">
     <div class="text"></div>
   </div>
    <div class="mySlides fade">
     <div class="numbertext"></div>
     <img src="/images/marketing.png" style="width:100%">
     <div class="text"></div>
   </div>
    <!-- Next and previous buttons -->
   <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
   <a class="next" onclick="plusSlides(1)">&#10095;</a>
 </div>
 <br>
  <!-- The dots/circles -->
 <div style="text-align:center">
   <span class="dot" onclick="currentSlide(1)"></span>
   <span class="dot" onclick="currentSlide(2)"></span>
   <span class="dot" onclick="currentSlide(3)"></span>
 </div>
</body>
 
<footer>
   Book Footer
</footer>
<script src="/js/index.js"></script>
</html>