
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="develop/style.css">
<script src="javascript.js" defer></script>
<body>
     <h1>login to your book account</h1>   
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">Login</button>     
            <button type="button" class="cancelbtn"> Cancel</button>    
        </div>   

        <div>{{booklocation.bookId}}</div>

    <!-- testing 123

    <button class="button" id="testbutton" >
        <img src="Black hole.jpg" alt="black hole img" style="width: 5pc; ;">
    </button>

    <div id="app"> 
    <textarea name="text" id="7" cols="30" rows="10">testing</textarea>
    </div> -->

   
</body>
</html>


<div>{{booklocation.bookId}}</div>
